@import "components/dashboard/header/header.module";
@import "components/top-menu/top-menu";
@import "components/dashboard/dashboard.module";
@import "components/dashboard/main/main.module";
@import "components/dashboard/lessons/lessons.module";
@import "components/dashboard/lesson/lesson.module";
@import "components/auth/login/login.module";
@import "components/dashboard/header/user-dropdown/user-dropdown-menu.module";
@import "components/dashboard/agreement/agreement.module";
@import "components/dashboard/home/home.module";

.app {
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
}


