@import "components/dashboard/header/header.module";
@import "src/components/sidebar/sidebar.module";
@import "components/dashboard/dashboard.module";
@import "components/dashboard/main/main.module";
@import "components/dashboard/lessons/lessons.module";
@import "components/dashboard/lesson/lesson.module";
@import "components/auth/login/login.module";

.app {
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
}


